
  #logo {
    position: relative;
    top: 11px;
    height: 38px;
    width: 119.96px;
  }
  .mainmenu, .leftmenu, .rightmenu, .icons {
    display: flex;
    height: 60px;
  }
  .mainmenu {
    flex-direction: row;
    justify-content: space-between;
  }
  .menu, .menu_1 {
    margin-left: 27px;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    letter-spacing: 1.7px;
    word-spacing: 36px;
  }

  .leftmenu {
    width: 500px;
    align-items: center;
  }
  .rightmenu{
    margin-right: 30px;
    align-items: center;
  }

  .leftmenu :hover, .rightmenu :hover {
    text-decoration: underline;
    color: black;
  }
  .icons {
    align-items: center;
  }

  h2,
  h3 {
    position: absolute;
    font-family: "Roboto", sans-serif;
  }
  h2 {
    padding-top: 504px;
    padding-left: 54px;
    font-size: 48px;
    letter-spacing: 0.5px;
    line-height: 63px;
  }
  h3 {
    padding-top: 578px;
    padding-left: 54px;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 63px;
  }
  .shopmen {
    position: absolute;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: black;
    background-color: #fff;
    width: 180px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 643px;
    margin-left: 54px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  .shopwomen {
    position: absolute;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: black;
    background-color: #fff;
    width: 180px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 643px;
    margin-left: 258px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  